extends ../layout

block content
    form(method="post")
       div(class="form-box")
          label
             input(type="text" name="article-title")
       div(class="form-box")
          textarea(type="article-desc")
       div(class="form-box")
          button(class="form-btn") Zapisz