extends ../layout

block content
  h1= title

  if errors.errors !== undefined
     each message in errors.errors
       p= message
  
  form(method="post")
       div(class="form-box")
          input(type="text" name="title" placeholder="tytuł" value=body.title || "")
       div(class="form-box")
          textarea(type="article-desc" name="desc" placeholder="tekst")=body.desc || ""
       div(class="form-box")
          button(class="form-btn" type="submit") Zapisz